gunicorn
flask
flask-admin
flask-bcrypt
flask-compress
flask-sqlalchemy
flask-wtf
flask-security
email_validator
flask-apscheduler
flask-reuploaded
requests
bs4
wtforms
jax
jaxlib
flaxmodels
numpy
exif
