{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h2>Source photo</h2>
            {% if uploaded_img is not none %}
                <img src="/uploaded_img/{{ uploaded_img }}" class="img-fluid" alt="Responsive image">
            {% endif %}
            <form method="POST" action="/" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.photo.label }} {{ form.photo(class_='form-control-file') }}
                </div>
                {{ form.submit(class_='btn btn-primary') }}
            </form>
        </div>
    </div>

    <h2>Similar photos</h2>
    <div class="row mt-5">
        {% for image in closest_images %}
            <div class="col-4 my-2">
                <h5>{{ image[1] }}</h5>
                <img src="/thumbnail/{{ image[0] }}" class="img-fluid" alt="Responsive image">
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}